.container {
  border: 1 solid #ccc;
  width: 400px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.item {
  margin: 5px;
  background-color: blueviolet;
  text-align: center;
  width: 50px;
  height: 50px;
}