.container {
  border: 1px solid #ccc;
  width: 300px;
  margin: 0 auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 5px;
  background-color: blueviolet;
  text-align: center;
  flex: 1;
  height: 50px;
}

.row-nowrap {
  flex-flow: row nowrap;
}

.row-wrap {
  flex-flow: row wrap;
}

.column-wrap {
  flex-flow: column wrap;
}