* {
  margin: 0;
  padding: 0;
}

#menu ul {
  list-style: none;
}

#menu ul li {
  display: inline-block;
  margin: 10px 5px;
  /* text-align: center; */
}

#menu ul li a {
  text-decoration: none;
}
