body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

h1 {
  margin: 20px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.aluno {
  background-color: #fff;
  padding: 10px;
  margin: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.aluno:hover {
  background-color: #f3f3f3;
}

button:disabled {
  cursor: not-allowed;
}